@{
    ViewData["Title"] = "Home Page";
}
<div class="text-md-center" style="margin-top: 20px; margin-bottom:20px;">
    <h3>Welcome To Himalaya Organic Farm</h3>
</div>
<div class="row" style="margin-top:20px; ">
    <div class="col-sm" style="margin-top:20px;">
        <div class="text-center">
            <img src="~/img/intro-icon-1.png" /><br />
            <h5 class="">Always Fresh</h5>
            <p class="">Means absolute commitment to quality. All our products are 99.99% pure and 100% organic in nature.</p>
        </div>
        <div class="text-center">
            <img src="~/img/intro-icon-3.png" class="home-img" /> <br />
            <h5>Super Healthy</h5>
            <p>To maintain a high quality and delivery schedule in order to successfully caster the client’s requirement.</p>
        </div>
    </div>
    <div clss="col-sm">
        <div class="home-img">
            <img src="~/img/home.png" />
        </div>
        
    </div>
    <div class="col-sm text-center">
        <div>
            <img src="~/img/intro-icon-2.png" /><br />
            <h5>100% Natural</h5>
            <p>Grown and processed without the use of toxic chemicals, fertilizers, pesticides and other artificial treatments</p>
        </div>
        <div>
            <img src="~/img/intro-icon-4.png" /><br />
            <h5>Primium Quality</h5>
            <p>Rich experience in organic food industry with most reliable, trusted and active field network</p>
        </div>
    </div>
</div>
